@charset "UTF-8";

#wrap {
	width: 100%;	
}

#header {

}

#nav {
	margin: 0;
	
}

#section {
	margin-top: 60px;
	height: 1500px;
}

#container1 {
	background-color: white;

}

#container2 {
	background-color: white;

}

#footer {
	clear: both;
	height: 100px;
	background-color: black;

}