@charset "UTF-8";

	 table{
	  width:"100%"
	 }
	 
	 table, th, td{
	 	border: 1px solid black;
	 	border-collapse: collapse;
	 }
	 
	 #contentForm {
      width: 40%;
      margin: 0 auto;
      padding-top: 12%;
    }
 
    .table > thead > tr > th, .table > tbody > tr > th {
      background-color: #e6ecff;
      text-align: center;
    }
	 