@charset "UTF-8";

/* 메인화면 레이아웃 설정, 글꼴 설정 */
#wrap {
	width: 100%;	
}

#section {
	padding-top: 60px;
	height: 2500px;
}

#footer {
	clear: both;
	height: 230px;
	background-color: black;
	font-family: '서울한강 장체 BL', serif;
	font-size: 20px;
	color: gray;
}