@charset "UTF-8";

#reviewlistsection {
	position: relative;
	margin: auto;
	width: 1200px;
}

#reviewlisttable {
	position: relative;
	margin: auto;
	padding: 2px;
	border-collapse : collapse;
	border: 0.5px solid white;
	border-bottom: 1px solid gray;
	width: 1198px;
	line-height: 1.5;
	/* border-collapse : separate;
	text-align: center;
	border-top: 1px solid #ccc;
	margin: auto;
	margin-top: 30px; */
}

#img {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* 테이블 첫번째컬럼 스타일 */
#reviewwritetable th {
    width: 250px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #efefef;
}

#reviewwritetable td {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#writeinput1 {
	border: 0;
	width: 100%;
}

#writeinput2 {
	border: 0;
	width: 100%;
}

#writetextarea {
	width: 100%;
	border: 1px solid #ccc;
}

#reviewlisttable th {
	text-align: center;
	border-left: 1px solid white;
	border-Right: 1px solid white;
	background-color: #efefef;
	border: 0.5px solid white;
	font-size: 20px;	
}

#reviewlisttable td {
	text-align: center;
	border: 1px solid white;
	border-bottom: 1px solid #ccc;
	font-size: 20px;
}

#paging {
	text-align: center;
}

#rev_no {
	width: 5%;
	font-size: 20px;
}

#rev_thumb {
	width: 35%;
	font-size: 20px;
}

#rev_subject {
	width: 30%;
	font-size: 20px;
}

#rev_id {
	width: 15%;
	font-size: 20px;
}

#rev_date {
	width: 20%;
	font-size: 10px;
}

#rev_next {
	width: 20px;
	vertical-align: initial;
}

#rev_prev {
	width: 20px;
	vertical-align: initial;
}

#rev_write_on {
	width: 75px;
	height: 45px;
	padding-right: 10px;
	float: right;
}

#searchbtn {
	width: 75px;
	position: relative;
	left: 300px;
	top: -35px;

}

#ReviewlistBtn {
	width: 75px;
	height: 45px;
	float: right;
	padding-right: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #6b6b47;
}

a:visited {
	text-decoration: none;
}

.searchbar {
	font-size: 20px;
}

.list{
	float: left;
}
.update{
	float: right;
}
.del{
	float: right;
}

#rev_reg {
	width: 75px;
	height: 42px;
	float: left;
}

#rev_cancel {
	float: right;
	position: absolute;
	left: 1125px;
}
